# filetypes
*.cachefile
*.cbp
*.cbTemp
*.csproj*
*.dat
*.Debug*
*.depend
*.fuse_hidden*
*.json
*.layout
*.npp
*.suo
*.supp
*.swo
*.swp
*.temp
*.txt

*~

# directories
*bin/
*obj/

# Hardcoded heh
terr
